# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build directory
build/

# Backup files
*~

# IDE configuration files
.settings
.project
.cproject
.kdev4/
*.kdev4

# Misc
.directory
/Default
