# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build directory
build/

# Backup files
*~

# Eclipse configuration files
.settings
.project
.cproject

# Misc
.directory
/Default
